<section id="#login">
    <div class="container">
        <div class="row ver-parent">
            <div class="col-md-4 col-md-offset-4 ver-center">
                <check if="{{ @message }}">
                    <div class="alert alert-{{ @message['type'] }}">{{ @message['data'] }}</div>
                </check>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center>
                        <h3 class="panel-title"><i class="fa fa-sign-in fa-fw"></i> Silahkan Login/Masuk Dahulu Ya Boss</h3></center>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/login" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                        <input class="form-control" placeholder="Username" name="username" type="text" autofocus required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                        <input class="form-control" placeholder="Password" name="password" type="password" required>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-success btn-block">Masuk</button>
                            </fieldset>
                        </form>
                        <div class="panel-body">
         <center>
             <b>
Belum Punya Akun Panel Ya Boss??<br>
<br>
                 Daftar Panel Saja Murah Kok Deposit Saja<br>
                 Tersedia Server Yang Pasti Support VC & GAME ONLINE:<br>
                 ~ SGDO<br>
                 ~ ITALY<br>
                 ~ DLL<br></b><br>
Contact Admin Now<br>
* * <a href="https://www.facebook.com/m.fauzan.romandhoni">Facebook</a> * *<br>
* * <a href="http://api.whatsapp.com/send?phone=6285703796928">Whatsapp</a> * *<br>
<a href="https://m.facebook.com/BogelSSHTeam12/">Fanspage BogelSSH</a><br>
             </center>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
