<section id="#login">
    <div class="container">
        <div class="row ver-parent">
          <div class="col-md-4 col-md-offset-4 ver-center">
          	<marquee><h4><font color="RED">Wellcome To My Server BogelSSH</font></h4></marquee>
                <check if="{{ @message }}">
                    <div class="alert alert-{{ @message['type'] }}">{{ @message['data'] }}</div>
                </check>
                <div class="panel panel-default">
                <div class="panel-body">
                    </div>
                        <center>
                        <h5 class="panel-title"><i class="fa fa-sign-in fa-fw"></i> <font color="#ff8000">Silahkan Login Dahulu </h5></font></center>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/login" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                        <input class="form-control" placeholder="Username" name="username" type="text" autofocus required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                        <input class="form-control" placeholder="Password" name="password" type="password" required>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-success btn-block"><font color="BLUE">Masuk</font></button>
                            </fieldset>
                        </form>
                        <div class="panel-body">
         <center>
             <font color="YELLOW">
<b>Admin Panel<br></b></font>
* * <a href="https://www.facebook.com/m.fauzan.romandhoni">Facebook</a> | <a href="http://api.whatsapp.com/send?phone=6285703796928">Whatsapp</a> * *<br><br>
<b><font color="#FF6347">Developed By M Fauzan Romandhoni</b></font>
             </center>
                </div>
            </div>
        </div>
    </div>
</section>
