<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-5">
            <h4 class="page-header"><center>Notification</center></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <check if="{{ @message }}">
                <div class="alert alert-{{ @message['type'] }}">{{ @message['data'] }}</div>
            </check>
            <div class="panel panel-default">
                <div class="panel-heading">
                   <center> <i class="fa fa-gear fa-fw"></i> <marquee style="border:BLUE 2px SOLID"><font color="RED">Informasi Penting</font></marquee></center>
                </div>
                <div class="panel-body">
         <center>
Fitur Change Password Ini Di Nonaktifkan, Harap Hubungi Admin Untuk Mengganti Password Panel Login Ini.<br>
<br><br>
             Mau Join Pannel Reseller Atau Sewa?<b><br>
	Semua Server Kami Sudah Support VideoCall & GameOnline Ya Bos<br>
             Pembayaran Bisa Via Pulsa & Bank</b><r><br></center>
             	</div>
             <div class="panel panel-default">
             <div class="panel-body">
             	<center>
             <b>Contact This Admin</b><br>
             * * <a href="https://www.facebook.com/m.fauzan.romandhoni">Facebook</a> | <a href="http://api.whatsapp.com/send?phone=6285703796928">Whatsapp</a> * *<br><br>
             <b>Support Kami Dengan Join Atau Like Ya<br></b>
             ______________<br>
 + <a href="http://m.facebook.com/groups/181770892609334/">Grup Kami</a> |
            <a href="https://m.facebook.com/BogelSSHTeam12/">FP Kami </a>+<br>
             ______________<br>
                </center>
                </div>
            </div>
        </div>
    </div>
</div>
