
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Notification</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <check if="{{ @message }}">
                <div class="alert alert-{{ @message['type'] }}">{{ @message['data'] }}</div>
            </check>
            <div class="panel panel-default">
                <div class="panel-heading">
                   <center> <i class="fa fa-gear fa-fw"></i> <marquee style="border:BLUE 2px SOLID">Informasi Penting</marquee></center>
                </div>
                <div class="panel-body">
         <center>
Ubah Password Ini Di Nonaktifkan Ya Bos, Harap Hubungi Admin Untuk Mengganti Password Anda.<br>
<br>
Contact Admin Now<br>
* * <a href="https://www.facebook.com/m.fauzan.romandhoni">Facebook (M Fauzan Romandhoni)</a> * *<br> 
* * <a href="http://api.whatsapp.com/send?phone=6285703796928">Whatsapp</a> * *<br>
                </center>
                </div>
            </div>
        </div>
    </div>
</div>
